<div class="main-container">
  <div class="page-header">
      <h4>反馈建议</h4>
  </div>

  <div class="page-content">

      <div class="row">
          <div class="col-sm-3">
              <h5>说明</h5>
              <ul class="list-unstyled">
                  <li>
                      <p>1.您反馈的问题和建议需要通过审核之后，才予显示</p>
                  </li>
                  <li>
                      <p>2.技术相关问题，您可以通过Github创建
                          <a  target="_blank" href="https://github.com/cmssfe/tushuguan/issues">New Issue</a>
                      </p>
                  </li>
                  <li>
                      <p>3.请文明用语</p>
                  </li>
              </ul>
              <img class="img-responsive" src="./assets/images/feedback.jpg" alt="留言反馈">
          </div>
          <div class="col-sm-9">
              <p class="text-center">您的建议和反馈非常的重要。</p>
              <div class="row text-center">
                  <a target="_blank" href="https://support.qq.com/products/21152">
                      <img src="./assets/images/tucao-link.png" alt="吐个槽">
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>