<div class="main-container">
  <div class="page-header">
      <h4>关于我们</h4>
  </div>

  <div class="page-content">
      <h4>1.图书轮流看</h4>
      <p>公司内部员工或多或少都买了纸质书，有的是和公司业务相关的,比如云计算、大数据、计算机网络，编程相关的书籍。大多数同事看完之后，书籍基本都放在书架上，未能够充分利用书籍。同时我看到很多同事都买了书放到公司，但是大家互相不知道买了啥书，所以很多情况下大家会买到重复的书籍。如果大家可以通过一个平台去知道整个公司，每个同事拥有的图书，然后通过平台去借阅图书，那应该一件很开心的事情。基于这个想法，我利用业务时间开发了这款SaaS应用--图书轮流看-2books。</p>
      <hr/>
      <h4>2.项目架构</h4>
      <p>技术堆栈：Linux(Ubuntu)+Apache+MySQL+PHP</p>
      <a href="https://zh.wikipedia.org/wiki/LAMP">
          <img src="./assets/about/lamp.png" alt="经典的LAMP架构">
      </a>
      <p>部署平台：BAE(Baidu App Engine)</p>
      <a target="_blank" href="https://bce.baidu.com/">
      <img src="./assets/about/bce.png" alt="BAE">
      </a>
      <hr>
      <h4>3.项目前后端技术</h4>
      <p>前端</p>
      <p><img src="./assets/about/bootstrap.jpg" alt="bootstrap"></p>
      <p>
          <img src="./assets/about/angularjs.png" alt="Angularjs">
      </p>
      <p>后端:PHP+MySQL</p>
      <hr>
      <h4>4.第三类库</h4>
      <p>涉及到图书详细信息，调用的是豆瓣的图书API。</p>
      <a href="https://developers.douban.com/" target="_blank">
          <img src="https://img3.doubanio.com/f/shire/79c253b2aa2dcafa510c94a934ad70aed2c4776a/pics/nav/lg_main_logo.png" alt="douban">
      </a>
  </div>
</div>